@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .floating-label-group {
    position: relative;
    width: 100%;
  }
  .floating-label-group .floating-label {
    font-size: 16px;
    /* color: #fff; */
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 0px;
    transition: all 0.1s ease;
  }

  .floating-label-group input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 15px;
    /* opacity: 60%; */
    /* color: #fff; */
  }

  .floating-label-group textarea:focus ~ .floating-label,
  textarea:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 15px;
    /* opacity: 60%; */
    /* color: #fff; */
  }

  .row {
    margin-top: 50px;
  }
}
